<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tasks</title>
</head>
<body>
    <div>
        <ul>
            {% for task in tasks %}
                {% comment %} <li>{{task.title}} - ({{task.due_date}}) - {{task.status}} - {{task.task_detail.priority}}</li> {% endcomment %}
                <li>{{task.title}} - ({{task.project.name}})</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>