{% extends "admin/dashboard.html" %}

{% block content %}
    <div class="w-1/2 mx-auto">
        <ul>
            {% for message in messages %}
                <li class="bg-green-500 text-white p-2">{{message}}</li>
            {% endfor %}
        </ul>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="bg-green-500 text-slate-50 rounded mt-3 px-3 py-2 hover:bg-green-600">Create Group</button>
        </form>
    </div>
{% endblock content %}