<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div>
        <h1>User Login</h1>
        {% for message in messages %}
            <p style="{% if message.tags == 'error' %}background: pink; color: red;{% endif %} padding: 8px">{{message}}</p>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter Username">
            <input type="password" name="password" placeholder="Enter Password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>